plugins = []
headers = []
redirects = []

[functions]

[functions."*"]

[build]
publish = "/Users/yushi_deer/Downloads/alice---living-ar-entity/dist"
publishOrigin = "ui"
commandOrigin = "ui"
command = "npm run build"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]